.navbar-expand-md{
    background-color: teal;
}

@media only screen and (max-width: 600px) {
    .nav{ 
        background-color: teal;
        color: darkgrey; 
    } 
    .navbar-brand{ 
        background-color: teal;
        color: darkgray; 
    }
}